*{
box-sizing: border-box;
padding:0;
margin:0;
}

.fondo-gris {
    background-color: rgb(253, 253, 252);
}

.div-1 {
    
    padding:2rem;
    background-color: white;
    display:block;
    min-width: 375px;
}

.titulo {
    text-align: center;
}

.input-cotizacion {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-width: 375px;
}

input{
    display:block;
}

.form{
    margin: 2rem;
    text-align: center;
}

.form-div {
    padding:1rem;
}

.flex{
    display:flex;
    flex-wrap: wrap;
}

.tabla {
    min-width: 375px;
    display:grid;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows:repeat(8, 4rem) ;
    width: 100%;
    background-color: aqua;
    grid-area:tabla;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 13px;
}


p{
    text-align: center;
}

.inicio_div_1{
    margin: auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.inicio_div_1_div {
    display: flex;
    border-radius: 3px;
    height: 100px;
    margin: 2px;
    width:360px;
    background-color:#6f6464;
    justify-content: center;
    border: 1px solid rgb(69, 69, 69);
    border-radius: 15px;
}

.inicio_div_1_div_a {
    display: flex;
    width: 100%;
    justify-content: center;
}


.inicio_div_2 {
    width: 100%;
}

.img_a {
    margin: 10px;
    width:100px
}

td{
    padding:5px;
}